services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: dev
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - database
    restart: always
  database:
    image: postgres:17.5
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  frontend:
    build:
      context: ./frontend/crewred
    ports:
      - "80:80"
      - "443:443"
    env_file:
      - .env
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api
    restart: always

volumes:
  pgdata:
